@font-face {
    font-family: "Telefonica";
    src: url("telefonicatext-regular-webfont.ttf");
}
@font-face {
    font-family: "Telefonica";
    font-style: italic;
    src: url("TelefonicaText-Italic.ttf");
}

document {
    margin: 0;
    padding: 0;
}

body {
    font-family: Telefonica, Georgia, sans-serif;
    font-size: 15pt;
    margin: 3em 2em 2em;
    color: #444;
}

.image {
    float: right;
    width: 45%;
    z-index: 1000;
    margin-left: 1ex;
}

#footer {
    position: fixed;
    bottom: 1ex;
    right: 1em;
    height: 30px;
    padding: 20px 120px 15px 0;
    background: transparent url("telefonica.png") no-repeat right center;
}

#header {
    position: fixed;
    color: #b3dee8;
    top: 0;
    left: 0;
    right: 0;
    padding: 1ex 1em;
    background-color: #185968;
}

.syntaxhighlighter {
    z-index:-1;
}

#news {
  float: right
}

#players {
  width: 50%
}

.player {
  width: 20%;
  margin: 1em;
  overflow:hidden;
  float: left
}

span.bar {
  margin: 0.5ex 0;
  padding: 2.5px;
  height: 1em;
  background-color: #185968;
}

ul#times {
  font-size: 160%;
}
